
# --- CONFIGURACIÓN DE CONEXIÓN ---

BACKEND_URL=http://localhost:8000/buscar

#La OPENAI_API_KEY se usa solo en n8n no en el backend
OPENAI_API_KEY=your_openai_api_key_here
# Docker
N8N_WEBHOOK_URL=http://n8n:5678/webhook-test/pregunta

# EN TESTEO (NECESITA EJECUTAR WORKFLOW EN N8N)
#N8N_WEBHOOK_URL = "http://n8n:5678/webhook-test/pregunta"
#N8N_WEBHOOK_URL = "http://localhost:5678/webhook-test/pregunta"
BACKEND_PORT=8000
N8N_PORT=5678